

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
}

.top-header {
	background: #323A40;
	color: white;
}

.top-header .code-tagline {
	font-family: "Courier New", Courier, monospace;
}